.homepage-bg {
    background-image: url("images/homepage-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.recipes-bg {
    background-image: url("images/blurred-recipes-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.img-container {
    display: flex;
    width: 33%;
    height: 600px;
    padding-left: 150px;
}

.text-container {
    display: inline-block;
    display: flex;
    gap: 80px;
    background-color: white;
    font-size: 40px;
    padding-left: 150px;
}

h1 {
    background-image: url(images/title-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 100px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
}

.recipe-column {
    color: white;
    font-size: 30px;
    font-weight: 400;
    float: left;
    width: 33%;
  }
  
  /* Clear floats after the columns */
  .recipe-row:after {
    content: "";
    display: table;
    clear: both;
  }

ol {
    color: white;
    font-size: 30px;
    font-weight: 400;
}

button {
    background-color: black;
    padding: 12px 24px;
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
}